!!! 5
html
    head
        title Backbone Test
        script(type='text/javascript',src='/js/underscore.js')
        script(type='text/javascript',src='/js/jquery-1.6.1.js')
        script(type='text/javascript',src='/js/backbone.js')
        script(type='text/javascript',src='/js/backbone-relational.js')
        script(type='text/javascript',src='/js/app.js')
    body
        #app
        script(type='text/javascript') 
            $(function () {
            app.data.People.reset(!{JSON.stringify(people)});
            });
