!!! 5
%html
  %head
    %title Backbone test
    %script{ language: 'javascript', type: 'text/javascript', src: '/js/jquery-1.6.1.js' }
    %script{ language: 'javascript', type: 'text/javascript', src: '/js/underscore.js' }
    %script{ language: 'javascript', type: 'text/javascript', src: '/js/backbone.js' }
    %script{ language: 'javascript', type: 'text/javascript', src: '/js/app.js' }
    %script{ language: 'javascript', type: 'text/javascript' }
      = haml_template('main')
      = haml_template('test')
  %body
    Loading...
